@import './main.scss';

$color-default: #ffa914;
$color-rest: #338fff;

.counter {
  &_Button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 64px);
    background: none;
    border: none;
    color: $color-default;
    font-size: 40px;
    text-shadow: 0 0 10px $color-default;

    &:focus {
      outline: none;
    }

    &.rest {
      color: $color-rest;
      text-shadow: 0 0 15px $color-rest;

      .counter_ButtonInner {
        border: 2px solid $color-rest;
        box-shadow: 0 0 15px $color-rest;

        &Prev,
        &Next {
          color: $color-rest;
          text-shadow: 0 0 15px $color-rest;
        }
      }
    }

    &Inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(100% - 30px);
      height: calc(100vh - 64px);
      max-width: 350px;
      max-height: 780px;
      position: relative;
      margin: 0 auto;
      margin-top: 20px;
      border: 2px solid $color-default;
      border-radius: 10px;
      box-shadow: 0 0 10px $color-default;

      &Prev {
        left: 0;
      }

      &Next {
        right: 0;
      }

      &Prev,
      &Next {
        display: block;
        position: absolute;
        top: calc(50% - 40px);
        z-index: 1;
        margin: 0 auto;
        padding: 20px;
        border: none;
        font-size: 40px;
        background: none;
        color: $color-default;
        text-shadow: 0 0 10px $color-default;

        &:focus {
          outline: none;
        }
      }

      &Activity {
        margin-top: 20px;
      }

      &Rep {
        margin-top: 20px;
        font-size: 30px;
      }

      &Time {
        font-size: 150px;
      }

      &Side {
        text-transform: uppercase;
        font-size: 30px;
      }
    }
  }
}